<?xml version="1.0" encoding="utf-8"?>
<Project>
    <PropertyGroup>
        <DeleteExistingFiles>True</DeleteExistingFiles>
        <DisableWinExeOutputInference>True</DisableWinExeOutputInference>
        <IncludeNativeLibrariesForSelfExtract>True</IncludeNativeLibrariesForSelfExtract>
        <OutputType>WinExe</OutputType>
        <DisableWinExeOutputInference>True</DisableWinExeOutputInference>
        <PublishSingleFile>True</PublishSingleFile>
        <PublishTrimmed>False</PublishTrimmed>
    </PropertyGroup>
</Project>